body {
  display: flex;
  justify-content: center;
  background-image: url("../../public/bg.jpg");
}
.mainPage {
  display: inline-block;
}
.birdSearch {
  width: 50vw;
  /* background-color: green; */
}
.searchForm {
  width: 200px;
}
h1 {
  margin-top: 0px;
}
.back {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  opacity: 0.9;
}

.addBird {
  margin-top: 18px;
}
